<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.feng.danmaqua">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".DanmaquaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Danmaqua">

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Danmaqua.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.NewSubscriptionActivity"
            android:label="@string/new_subscription_title"
            android:theme="@style/Theme.Danmaqua"
            android:exported="false"/>

        <activity
            android:name=".ui.PreferenceActivity"
            android:label="@string/settings_title"
            android:theme="@style/Theme.Danmaqua.NoActionBar"
            android:exported="true"/>

        <service
            android:name=".service.DanmakuListenerService"
            android:label="@string/listener_service_label"
            android:exported="false"/>

    </application>

</manifest>