<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moe.feng.danmaqua">
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT"/>

    <application
        android:name=".DanmaquaApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Danmaqua">

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />

        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Danmaqua.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.intro.IntroActivity"
            android:theme="@style/Theme.Danmaqua.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".ui.subscription.NewSubscriptionActivity"
            android:label="@string/new_subscription_title"
            android:theme="@style/Theme.Danmaqua.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".ui.subscription.VTubersCatalogActivity"
            android:label="@string/view_vtubers_catalog_title"
            android:theme="@style/Theme.Danmaqua.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".ui.subscription.VTubersGroupActivity"
            android:label="@string/view_vtubers_group_title"
            android:theme="@style/Theme.Danmaqua.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".ui.subscription.ManageSubscriptionActivity"
            android:label="@string/manage_subscription_title"
            android:theme="@style/Theme.Danmaqua.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".ui.settings.PreferenceActivity"
            android:label="@string/settings_title"
            android:theme="@style/Theme.Danmaqua.NoActionBar"
            android:exported="true"/>

        <activity
            android:name=".ui.history.ManageHistoryActivity"
            android:label="@string/danmaku_history_title"
            android:theme="@style/Theme.Danmaqua.NoActionBar"
            android:exported="false"/>

        <activity
            android:name=".ui.proxy.B23ProxyActivity"
            android:label="@string/proxy_b23_url_title"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="http" android:host="b23.tv" android:pathPattern="/av.*"/>
                <data android:scheme="https" android:host="b23.tv" android:pathPattern="/av.*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.proxy.LiveShareProxyActivity"
            android:label="@string/proxy_live_share_title"
            android:theme="@style/Theme.EmptyActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="text/*"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.proxy.QuickStartShortcutActivity"
            android:theme="@style/Theme.EmptyActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <service
            android:name=".service.DanmakuListenerService"
            android:label="@string/listener_service_label"
            android:foregroundServiceType="dataSync"
            android:exported="false"/>
        
        <provider
            android:authorities="moe.feng.danmaqua.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"/>
        </provider>

    </application>

</manifest>